body {
    margin: 0px;
    width: 100%;
  }
  
  h1 {
    font-size: 1.4em;
    font-family: "Shrikhand", sans-serif;
  }
  
  h2 {
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
  }
  
  h3 {
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  header {
    overflow: hidden;
  }
  .header-title {
    display: flex;
    justify-content: center;
  }
  .size-text-1 {
    display: flex;
    justify-content: space-between;
  }
  .sub-menu-title {
    margin-left: 10px;
    margin-top: 5px;
    border: transparent;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    position: relative;
    left: -7px;
  }
  .sub-menu-title:active .restaurant-card-informations {
    transition-property: all;
    transition: 700ms;
    transform: scale(1);
  }
  .sub-menu-title-1 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 19px;
    border: transparent;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    position: relative;
    left: -48px;
  }
  .box-1 {
    color: #98e4c7;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 4px solid;
    width: 41px;
    margin-bottom: 10px;
    position: relative;
    top: 7px;
    right: 85px;
  }
  .box-2 {
    color: #98e4c7;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 4px solid;
    width: 41px;
    margin-bottom: 10px;
    position: relative;
    bottom: -11px;
    right: -11px;
  }
  .box-3 {
    color: #98e4c7;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 4px solid;
    width: 41px;
    margin-bottom: 10px;
    position: relative;
    bottom: -11px;
    right: -11px;
  }
  .favorite {
    /* background: linear-gradient(34deg, #ff79da, #9356dc);
      object-fit: cover; */
    cursor: pointer;
    background: linear-gradient(34deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 11px;
    position: absolute;
    right: 34px;
    top: 24px;
    transform: scale(0);
  }
  
  .favorite-empty {
    font-size: 21px;
    color: #b9b7b7;
    position: absolute;
    right: 29px;
    top: 21px;
    transform: scale(1);
  }
  .heart:hover .favorite {
    transform: scale(2);
    transition-property: all;
    transition: 700ms;
  }
  .heart:hover .favorite-empty {
    transform: scale(0);
  }
  .h3-title-function {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 15px;
    padding-bottom: 8px;
    margin-left: 33px;
  }
  .arrow{
    display: flex;
    position: relative;
    left: 26px;
    top: 26px;
  }
  .image-toa-heftiba{
    height: 180px;
  }
  .title-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 7px;
    padding-top: 15px;
    width: 100%;
  }
  .title-2 {
    display: flex;
    justify-content: center;
    font-family: "Shrikhand";
    margin: 0;
    position: relative;
    right: 35px;
  }
  
  .button-position {
    display: flex;
    justify-content: center;
  }
  .explore-button {
    display: flex;
    padding: 16px;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    justify-content: center;
    border-radius: 26px;
    box-shadow: 5px 5px 10px rgb(212, 211, 211);
    color: white;
    cursor: pointer;
    border-width: 0px;
    width: 162px;
    height: 45px;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 15px;
  }
  
  .i-3 {
    position: relative;
    top: -75px;
    left: 5px;
  }
  .like-card-menu {
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 3px;
    margin-top: 10px;
    display: flex;
    width: 250px;
  }
  .like-observe{
    margin: auto;
  }
  
  .restaurant-card-informations-titre {
    margin-right: auto;
  }
  @keyframes card-apparition {
    from {
      transform:translateY(0px);
      opacity: 0
    }

    to {
      opacity: 1;
      transform:translateY(-8px);
    }
  }

  .restauration-card-group .restaurant-card-informations {
    animation: card-apparition 3000ms;
    animation-fill-mode: both;

  }

  .restaurant-card-informations:nth-of-type(1) {
    animation-delay: 200ms;
   
    
    
  }
  .restaurant-card-informations:nth-of-type(2) {
    animation-delay: 400ms;
    
   
  }
  .restaurant-card-informations:nth-of-type(3) {
    animation-delay: 600ms;
   
   
  }
  .valid-menu {
    /* overflow: hidden; */
    background-color: #98e4c7;
    max-width: 0px;
    width: 100px;
    transform: translate(100%);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    text-align: center;
    transition: max-width 800ms, transform 800ms;
    margin-left: 5px;
  }
  
  .restaurant-card-informations:hover .valid-menu {
    transform: translate(0px);
    max-width: 200px;
  }
  
  .restaurant-card-informations .circle-valid {
    transform: rotate(0);
    transition: transform 500ms;
    padding-top: 18px;
  }
  
  .restaurant-card-informations:hover .circle-valid {
    animation-delay: 600ms;
    transform: rotate(360deg);
  }
  
  p {
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: rgb(80, 79, 79);
    
  }
  .restaurant-card-informations {
    background-color: rgb(249, 250, 249);
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgb(212, 211, 211);
    display: flex;
    margin: 10px;
    overflow: hidden;
    width: 100%;
  }
  .restaurant-card-informations {
    background-color: rgb(249, 250, 249);
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgb(212, 211, 211);
    display: flex;
    margin: 10px;
    overflow: hidden;
    width: 100%;
  }
  
  .circle-valid {
    color: white;
    font-size: 25px;
  }
  .menu-color {
    color: black;
  }
  
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  
  ol {
    display: flex;
    flex-direction: column;
  }
  li {
    position: relative;
  }
  ol li::before {
    content: counter(my-awesome-counter);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    line-height: 20px;
    width: 20px;
    background: #9356dc;
    border-radius: 50px;
    text-align: center;
    left: -8px;
    top: 20px;
  }
  .title-establishment {
    display: flex;
    justify-content: start;
    font-family: "Shrikhand";
    margin: 0;
    margin-left: 10px;
    padding-top: 21px;
  }
  .price {
    margin-top: 18px;
    margin-right: 30px;
    width: 12px;
    
   
 
    font-family: "Roboto", sans-serif;
  }
  .starter-meal {
    background-color: #eeeeee;
    padding-right: 18px;
    padding-bottom: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    top: -18px;
  }
  .main-meal {
    background-color: #eeeeee;
    padding-right: 18px;
    padding-bottom: 5px;
    position: relative;
    top: -18px;
  }
  .dessert {
    background-color: #eeeeee;
    padding-right: 18px;
    padding-bottom: 50px;
    position: relative;
    top: -18px;
  }
  .fa-store:before {
    content: "\f54e";
    color: #9356dc;
  }
  
  main {
    width: 100%;
  }
  
  footer {
    background-color: rgba(63, 62, 62, 0.993);
    width: 100%;
  }
  footer .title {
    font-family: "Shrikhand", sans-serif;
  }
  footer .title:hover {
    text-decoration: none;
    text-align: center;
    color: white;
  }
  
  .footer-assist {
    display: flex;
    width: 100%;
    margin-top: 62px;
    padding-top: 28px;
    padding-bottom: 34px;
    margin-top: -25px;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0px;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 10px;
    padding-left: 5px;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
  }
  .fa-utensils:before {
    content: "\f2e7";
    padding-right: 16px;
  }
  .fa-hands-helping:before {
    content: "\f4c4";
    padding-right: 10px;
  }
  
  .assist {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /*# sourceMappingURL=ohmyfoodp3.css.map */
 