body {
  margin: 0px;
  width: 100%;
}

h1 {
  font-size: 1.4em;
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
.h3-title-function {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 15px;

}
.title-1{
  display: flex;
  justify-content: center;
}
.title-2{
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
}
.main-title{
  position: relative;
  top: 90px;
  left: 36px;;
}
.button-position{
  display: flex;
  justify-content: center;
}
.explore-button{
  display: flex;
  padding: 16px;
  background: linear-gradient(170deg,#FF79DA,#9356DC);
  justify-content: center;
  border-radius: 26px;
  box-shadow: 5px 5px 10px rgb(212, 211, 211);
  color: white;
 cursor: pointer;
 border-width: 0px;
 
}
.menu-fonction{
height: 200px;
}
.menu{
  height: 15px;
  
}
.icon{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 225px;
  right: 20px;
  justify-content: space-between;

}
.i-1{
position: relative;
top: -172px;
left: 5px;
}
.i-2{
position: relative;
top: -125px;
left: 5px;
}
.i-3{
position: relative;
top: -75px;
left: 5px;
}
.new{
  display: flex;
  padding: 9px;
  width: 79px;
  background-color: #99E2D0;
  align-items: center;
  border-radius: 5px;
  position: relative;
  left:222px;
  top: 95px;
}
.new-bis{
  display: flex;
  padding: 9px;
  width: 79px;
  background-color: #99E2D0;
  align-items: center;
  border-radius: 5px;
  position: relative;
  left: 222px;
  top: 316px;
}
.restaurant-select {
  display: flex;
  width: 331px;
  padding: 16px;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 5px 5px 10px rgb(212, 211, 211);
  color: #d4d3d3;
 cursor: pointer;
 margin: 22px;
 position: relative;
 top: -75px;
 border-width: 0px;
}
.menu-color{
  color: black;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;

}
ol li {
  counter-increment: my-awesome-counter;
}
  
ol {
 display: flex;
 flex-direction: column;

  

}
li {
  margin: 33px;
  position: relative;
  top: -142px;
  left: -33px;
  
}
ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  --size: 20px;
  top: -15px;
  left:-45px;
  line-height: var(--size);
  width: var(--size);
  top: 90px;
  background: #9356DC;
  border-radius: 50px;
  text-align: center;
 

}
.all-restaurants {
  background-color: rgba(228, 225, 225, 0.993);
  display: flex;
  justify-content: space-evenly;
}
.all-menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.website {
  min-width: 320px;
}

.search-place {
  height: 50px;
  width: 100%;
  background-color: rgba(202, 200, 200, 0.993);
  display: flex;
  justify-content: center;
}
.search-place .search-text {
  height: 43px;
  width: 228px;
  border: solid transparent;
  font-weight: bold;
  font-size: 1em;
  align-items: center;
}
.search-text{
  text-align: center;
}

main {
  width: 100%;
}

footer {
  background-color: rgba(63, 62, 62, 0.993);
  width: 100%;
}
footer .title {
  font-family: "Shrikhand", sans-serif;
}
footer .title:hover {
  text-decoration: none;
  text-align: center;
  color: white;
  
}

.footer-assist {
  display: flex;
  justify-content: space-around;
  width: 375px;
  margin-top: 62px;
  padding-top: 28px;
  margin: 0 auto;
  position: relative;
  top: 145px;
  
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.restaurant-card {
  width: 335px;
  height: 250px;
  margin: 16px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 5px 5px 10px #d4d3d3;
}

.restaurant-card-image {
  width: auto;
  height: 174px;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0px;
  font-weight: bold;
  font-size: 0.9rem;

}

.a .b .c .d {
  
}

.assist {
  color: white;
  display: flex;
  justify-content: center;
  
}



/*# sourceMappingURL=ohmyfoodp3.css.map */
